# Pastas de ferramentas e IDE
.idea/
.vs/
/HackoonGameHub/bin/
/HackoonGameHub/obj/
/HackoonGameHub/packages/
/HackoonGameHub/riderModule.iml
/HackoonGameHub/_ReSharper.Caches/


# Ignorar pastas de compilação do C# de forma recursiva
[Bb]in/
[Oo]bj/
**/obj/

#Não Ignorar os binarios do postgres
!**/pgsql/bin/
!**/pgsql/bin/**
