# Pastas de ferramentas e IDE
.idea/
.vs/
/HackoonGameHub/bin/
/HackoonGameHub/obj/
/HackoonGameHub/packages/
/HackoonGameHub/riderModule.iml
/HackoonGameHub/_ReSharper.Caches/


# Ignorar pastas de compilação do C# de forma recursiva
/HackoonGameHub/*/bin/
/HackoonGameHub/*/obj/

# Godot 4+ specific ignores
/HackoonGameHub/Game/.godot/
/HackoonGameHub/Game/android/


